html {
  background-color: #c9b5ab;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

ol {
  list-style-type: none;
}

a {
  font-family: 'PT Sans', sans-serif;
  color: #8f2440;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5;
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  text-align: center;
  font-style: italic;
}

img {
  width: 475px;
  height: 325px;
}

figure + p {
  font-weight: bold;
  font-size: 1.5;
}

blockquote {
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

blockquote cite {
  font-size: 0.8rem;
}

strong {
  font-weight: normal;
}
